In [34]:
!pip install pandas
!pip install textblob
!pip install openpyxl
!pip install git+https://github.com/JustAnotherArchivist/snscrape.git

Requirement already satisfied: pandas in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: textblob in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Requirement already satisfied: openpyxl in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to c:\users\hasyim sri wahyudi\appdata\local\temp\pip-req-build-7b2nsr9e
  Resolved https://github.com/JustAnotherArchivist/snscrape.git to commit 285d5874fc20a9d9463ed261f45c5f4118277d05
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Requirement already satisfied: requests[socks] in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from snscrape==0.6.2.20230320) (2.26.0)
Requirement already satisfied: lxml in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from snscrape==0.6.2.20230320) (4.6.3)
Requirement already satisfied: filelock in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from snscrape==0.6.2.20230320) (3.3.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from snscrape==0.6.2.20230320) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from beautifulsoup4->snscrape==0.6.2.20230320) (2.2.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230320) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230320) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230320) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230320) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\hasyim sri wahyudi\anaconda3\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230320) (1.7.1)

  Running command git clone -q https://github.com/JustAnotherArchivist/snscrape.git 'C:\Users\Hasyim Sri Wahyudi\AppData\Local\Temp\pip-req-build-7b2nsr9e'

In [109]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [110]:
from textblob import TextBlob
import re
def clean_tweet(tweet):
    return ' '.join(re.sub("(@[A-Za-z0-9]+) | ([^0-9A-Za-z \t]) | (\w+:\/\/S+)", " ", tweet).split())

def analize_sentiment(tweet):
    analysis = TextBlob(clean_tweet(tweet))
    if analysis.sentiment.polarity > 0:
        return 1
    elif analysis.sentiment.polarity == 0:
        return 0
    else:
        return -1
    def analize_subjectorobject(tweet):
        analysis = TextBlob(clean_tweet(tweet))
        if analisis.sentiment.polarity > 0:
            return 'Positif'
        elif analysis.sentiment.polarity == 0:
            return 'Netral'
        else:
            return 'Negatif'

In [127]:
since_date = '2023-03-21'
until_date = '2023-03-23'
keyword = 'Mahasiswa'

query = '{} since:{} until:{}'.format(keyword, since_date, until_date)

tweets_list = []
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(query + ' lang:id').get_items()):
    if i > 1000:
        break
    tweets_list.append([tweet.date, tweet.id, tweet.rawContent, tweet.user.username, analize_sentiment(tweet.rawContent)])

In [128]:
tweet = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username', 'Label'])

In [129]:
tweet

,Datetime,Tweet Id,Text,Username,Label
0,2023-03-22 23:59:20+00:00,1638691864256843776,"Walau udah mahasiswa, tetap kelakuannya bocil ðŸ˜­",OnlyDistynation,0
1,2023-03-22 23:59:12+00:00,1638691830522089472,Aku cukup merinding di bagian demonstrasi yang...,zoolioon,0
2,2023-03-22 23:56:38+00:00,1638691182850240512,https://t.co/IwNoKuYaEJ\n\nMahaSiswa Lajang KO...,TanpaNoPenJamin,0
3,2023-03-22 23:54:48+00:00,1638690721522937856,@PartBurungGalak Mahasiswa yang dah ilang kewa...,mak_iyik,0
4,2023-03-22 23:53:14+00:00,1638690330387312640,Ini kayak menghina secara pribadi loh. Waduuhh...,miurasukida,0
...,...,...,...,...,...
996,2023-03-22 11:55:06+00:00,1638509605163798529,"[Salam Ramadhan Al-Mubarak 1444H /2023M]\n\n""Y...",ANGKATAN_UM,0
997,2023-03-22 11:54:58+00:00,1638509571277996033,https://t.co/rhMGqwfDw5 kalo ini pengalaman ja...,pramudyaarif90,0
998,2023-03-22 11:54:43+00:00,1638509509885964288,[SELAMAT MENYAMBUT BULAN RAMADAN AL-MUBARAK]\n...,ukmperdana,0
999,2023-03-22 11:54:18+00:00,1638509404885762049,Hal ini kerana ingin memberi peluang kepada pa...,mppuitmcpp,0
1000,2023-03-22 11:54:18+00:00,1638509404210495488,@BEMUI_Official Kami mendukung Mahasiswa.....l...,AbuDaff46970353,0

In [130]:
tweet.groupby('Label').describe()

      Tweet Id                                                          \
         count          mean           std           min           25%
Label
-1        31.0  1.638592e+18  5.343968e+13  1.638511e+18  1.638547e+18
 0       898.0  1.638580e+18  5.113845e+13  1.638509e+18  1.638538e+18
 1        72.0  1.638579e+18  5.199736e+13  1.638510e+18  1.638537e+18


                50%           75%           max
Label
-1     1.638585e+18  1.638648e+18  1.638681e+18
 0     1.638566e+18  1.638626e+18  1.638692e+18
 1     1.638565e+18  1.638615e+18  1.638687e+18

In [131]:
tweet[tweet['Label'] == 0].head()

,Datetime,Tweet Id,Text,Username,Label
0,2023-03-22 23:59:20+00:00,1638691864256843776,"Walau udah mahasiswa, tetap kelakuannya bocil ðŸ˜­",OnlyDistynation,0
1,2023-03-22 23:59:12+00:00,1638691830522089472,Aku cukup merinding di bagian demonstrasi yang...,zoolioon,0
2,2023-03-22 23:56:38+00:00,1638691182850240512,https://t.co/IwNoKuYaEJ\n\nMahaSiswa Lajang KO...,TanpaNoPenJamin,0
3,2023-03-22 23:54:48+00:00,1638690721522937856,@PartBurungGalak Mahasiswa yang dah ilang kewa...,mak_iyik,0
4,2023-03-22 23:53:14+00:00,1638690330387312640,Ini kayak menghina secara pribadi loh. Waduuhh...,miurasukida,0

In [132]:
tweet_positif = tweet[tweet['Label'] > 0]
tweet_positif.head()

,Datetime,Tweet Id,Text,Username,Label
10,2023-03-22 23:40:21+00:00,1638687088555212801,"@collegemenfess Bagi mahasiswa kesehatan (FK, ...",RisetQu,1
16,2023-03-22 23:29:36+00:00,1638684381991833601,@wadawidy @PartaiSocmed @prastow Dan pihak cuk...,sabrinaadanihp,1
19,2023-03-22 23:26:32+00:00,1638683608826408960,@wadawidy @PartaiSocmed @prastow Mas aku mau n...,sabrinaadanihp,1
22,2023-03-22 23:23:44+00:00,1638682903860367360,"@tanyakanrl Bagi mahasiswa kesehatan (FK, FKG,...",RisetQu,1
58,2023-03-22 22:28:35+00:00,1638669026439352321,Contohnya dalam kehidupan mahasiswa. Tidak bis...,Aryandirizk,1

In [133]:
tweet_negatif = tweet[tweet['Label'] < 0]
tweet_negatif.head()

,Datetime,Tweet Id,Text,Username,Label
29,2023-03-22 23:15:40+00:00,1638680877134917634,masalah ntar bakalan beda sama keadaan saat ja...,nct__noona,-1
48,2023-03-22 22:48:27+00:00,1638674025563168768,@SUNDA_FESS Liburrrr abi mahasiswa:(,doshryy,-1
64,2023-03-22 22:22:18+00:00,1638667444607930369,pertama sorry to say buat anak rantau yang jau...,dimmmzzzz_,-1
78,2023-03-22 22:06:50+00:00,1638663551794532354,traweh di azhar feel like using reverse card i...,takatozeta,-1
128,2023-03-22 21:30:04+00:00,1638654298589626368,"pingin beropini, gua dari dulu liat propaganda...",bimpangzz,-1

In [134]:
frames = [tweet_positif, tweet_negatif]
result = pd.concat(frames).drop_duplicates().reset_index(drop = True)

In [135]:
result.to_csv('mhs.csv', index = False)

In [136]:
tweet = pd.read_csv('mhs.csv')

In [137]:
tweet = pd.DataFrame(tweet)
tweet.to_excel('mahasiswa.xlsx', index = False, header = True)

In [138]:
df = pd.read_csv('mhs.csv')
df.head()

,Datetime,Tweet Id,Text,Username,Label
0,2023-03-22 23:40:21+00:00,1638687088555212801,"@collegemenfess Bagi mahasiswa kesehatan (FK, ...",RisetQu,1
1,2023-03-22 23:29:36+00:00,1638684381991833601,@wadawidy @PartaiSocmed @prastow Dan pihak cuk...,sabrinaadanihp,1
2,2023-03-22 23:26:32+00:00,1638683608826408960,@wadawidy @PartaiSocmed @prastow Mas aku mau n...,sabrinaadanihp,1
3,2023-03-22 23:23:44+00:00,1638682903860367360,"@tanyakanrl Bagi mahasiswa kesehatan (FK, FKG,...",RisetQu,1
4,2023-03-22 22:28:35+00:00,1638669026439352321,Contohnya dalam kehidupan mahasiswa. Tidak bis...,Aryandirizk,1